<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Add TrackJS Injection inside the below section
        <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <% } %> -->
        <metacharset="UTF-8">
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <thead>
                <th>&nbsp;</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </body>
</html>
